*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

.register {
    width: 680px;
    margin: 80px auto;
    padding: 0;
    display: block;
    box-sizing: border-box;
}

.register__heading {
    text-align: center;
    margin-bottom: 30px;
}

.register__title {
    font-size: 36px;
    font-weight: bold;
}

.register__group {
    width: 100%;
}

.register__label-wrap {
    text-align: left;
    margin-bottom: 6px;
}

.register__label {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 1);
}

.register__input input,
.register__control input[type="password"] {
    width: 100%;
    height: 45px;
    border: 1px solid black;
    border-radius: 4px;
    appearance: none;
    outline: none;
}

.register__error {
    font-size: 15px;
    margin-bottom: 30px;
    color: red;
    padding: 6px 0 0;
}

.register__actions {
    margin-top: 20px;
    text-align: center;
}

.register__submit {
    padding: 10px;
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    background-color: black;
    font-size: 18px;
    margin-top: 80px;
}

.register__link {
    display: block;
    width: 100%;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: #0073cc;
    font-size: 20px;
    margin-top: 30px;
}

@media (min-width: 1400px) and (max-width: 1540px) {

    .register__title {
        font-size: 40px;
    }

    .register__label {
        font-size: 26px;
    }

    .register__link {
        font-size: 22px;
    }
}

@media (min-width: 768px) and (max-width: 850px) {
    .register {
        width: 60%;
        margin: 40px auto;
    }

    .register__title {
        font-size: 25px;
    }

    .register__label {
        font-size: 20px;
    }

    .register__input input,
    .register__control input[type="password"] {
        height: 45px;
    }

    .register__submit {
        height: 45px;
        font-size: 16px;
        margin-top: 50px;
    }

    .register__link {
        font-size: 18px;
    }
}