body {
    font-family: "Inter", sans-serif;
}

.header {
    background: #000;
    color: #fff;
    width: 100%;
    height: 82px;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 24px;
    max-width: none;
    margin: 0;
}

.header__logo {
    margin-top: 7px;
    display: block;
    height: 36px;
}

.header__menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__logout,
.header__login,
.header__mypage {
    background: transparent;
    color: #fff;
    border: none;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
}
