body {
    font-family: "Inter", sans-serif;
}

.header {
    background: #000;
    color: #fff;
    width: 100%;
    height: 82px;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 24px;
    max-width: none;
    margin: 0;
}

.header__logo {
    display: block;
    height: 36px;
}
