body {
    font-family: "Inter", sans-serif;
}

.header {
    background: #000;
    color: #fff;
    width: 100%;
    height: 82px;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 24px;
    max-width: none;
    margin: 0;
}

.header__logo {
    margin-top: 7px;
    display: block;
    height: 36px;
}

.header__menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 40px;
}

.header__logout,
.header__login,
.header__mypage,
.header__link {
    background: transparent;
    color: #fff;
    border: none;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

@media (min-width: 1400px) and (max-width: 1540px) {

    .header__inner {
        max-width: 1440px;
        margin: 0 auto;
        padding: 15px 32px;
    }

    .header__menu {
        gap: 40px;
    }

    .header__logout,
    .header__login,
    .header__mypage,
    .header__link {
        font-size: 24px;
    }
}

@media (min-width: 768px) and (max-width: 850px) {

    .header {
        height: 72px;
    }

    .header__inner {
        padding: 0 16px;
        align-items: center;
    }

    .header__logo {
        height: 30px;
        margin-top: 0;
    }

    .header__menu {
        gap: 16px;
    }

    .header__logout,
    .header__login,
    .header__mypage,
    .header__link {
        font-size: 18px;
        display: inline-block;
        line-height: 72px;
    }
}