body {
    font-family: "Inter", sans-serif;
    background-color: #f0eff2;
}

.content {
    width: 900px;
    margin: 0 auto;
}

.content__title {
    border-left: 8px solid black;
    height: 40px;
    padding-left: 12px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    margin: 120px auto 80px;
}

.staff__list table {
    letter-spacing: 0.15em;
    width: 900px;
    table-layout: fixed;
    background-color: white;
    margin: 50px auto;
}

.staff__list th,
.staff__list td {
    text-align: center;
}

.staff__list th {
    font-weight: bold;
    font-size: 16px;
    color: rgba(115, 115, 115, 1);
    padding: 15px 0;
    border-bottom: 3px solid rgba(225, 225, 225, 1);
}

.staff__list td {
    font-weight: bold;
    font-size: 16px;
    color: rgba(115, 115, 115, 1);
    padding: 15px 0;
    border-bottom: 2px solid rgba(225, 225, 225, 1);
}

.staff__list-button {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: black;
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {

    .content {
        width: 1100px;
    }

    .staff__list table {
        width: 1100px;
    }
}


@media screen and (min-width: 768px) and (max-width: 850px) {

    .content {
        width: 90%;
        margin: 0 auto;
    }

    .content__title {
        font-size: 24px;
        margin: 80px auto 40px;
    }

    .staff__list table {
        width: 100%;
        margin: 30px auto;
        font-size: 14px;
    }

    .staff__list th,
    .staff__list td {
        padding: 10px 4px;
        font-size: 14px;
    }

    .staff__list-button {
        font-size: 14px;
    }
}